.faq-header {
  margin-bottom: 50px;
  font-size: 42px;
}

.faq {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.faq-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
}

.faq-question {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.faq-answer {
  font-size: 15px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq-arrow {
  font-size: 20px;
  margin-top: 10px;
  transform: rotate(20deg);
  transition: all 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
  max-height: 500px;
  margin-top: 20px;
}

.faq-item.open .faq-arrow {
  transform: rotate(270deg);
}

@media only screen and (max-width: 1300px) {
  .faq-header {
    font-size: 30px;
  }
  .faq-intro {
    font-size: 25px;
  }
}
