.event-wrapper {
  align-items: center;
}

/* .event-div p,
span {
  color: #ffff;

  font-size: 8px;
} */
.events-list {
  align-items: baseline;
}

.events-list span,
p {
  color: #fff;
  /* background-color: darkorange; */
}

.events-list img {
  align-items: baseline;
}

@media only screen and (max-width: 1600px) {
  .area {
    padding: 75px 80px;
  }
}
@media only screen and (max-width: 1300px) {
  .area {
    padding: 0px 20px;
  }
  .events-list {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 900px) {
  .events-list {
    flex-direction: column;
    margin-bottom: 70px;
  }

  events-area {
    display: flex;
    align-items: center;
  }
}
