.event-wrapper {
  align-items: center;
}

/* .event-div p,
span {
  color: #ffff;

  font-size: 8px;
} */
.events-list {
  align-items: baseline;
}

.events-list span,
p {
  color: #fff;
  /* background-color: darkorange; */
}

.events-list img {
  align-items: baseline;
}
