.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 22px;
  background-color: #06071b;
  font-size: 25px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 10px;
  padding: 10px 20px;
}

.login,
.signup {
  background-color: darkorange;
  padding: 10px 20px;
  border-radius: 20px;
}

@media (max-width: 1190px) {
  .login,
  .signup {
    padding: 0 20px 0px 5px;
    font-size: 20px;
  }

  .nav-list {
    font-size: 18px;
  }
}

@media (max-width: 1030px) {
  .login,
  .signup {
    padding: 0 20px 0px 5px;
    font-size: 20px;
  }

  .nav-list {
    font-size: 20px;
  }
}

@media (max-width: 1029px) {
  .login,
  .signup {
    padding: 0 10px 0px 5px;
    font-size: 16px;
  }

  .nav-list {
    font-size: 16px;
  }
}
@media (max-width: 946px) {
  .login,
  .signup {
    padding: 0 8px 0px 3px;
    font-size: 14px;
  }

  .nav-list {
    font-size: 14px;
  }
}

@media (max-width: 828px) {
}
