.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 22px;
  background-color: #06071b;
  font-size: 25px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 10px;
  padding: 10px 20px;
}

.login,
.signup {
  background-color: darkorange;
  padding: 10px 20px;
  border-radius: 20px;
}

@media (max-width: 1190px) {
  .login,
  .signup {
    padding: 0 20px 0px 5px;
    font-size: 20px;
  }

  .nav-list {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1030px) {
  .login,
  .signup {
    padding: 0 20px 0px 5px;
    font-size: 20px;
  }

  .nav-list {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1029px) {
  .login,
  .signup {
    padding: 0 10px 0px 5px;
    font-size: 16px;
  }

  .nav-list {
    font-size: 16px;
  }
}
@media only screen and (max-width: 946px) {
  .login,
  .signup {
    padding: 0 8px 0px 3px;
    font-size: 14px;
  }

  .nav-list {
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .login,
  .signup {
    font-size: 12px;
    color: darkorange;
    background-color: #06071b;
  }

  .nav-list {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 400px) {
  .login,
  .signup {
    padding: 0px;
    font-size: 12px;
    color: darkorange;
    background-color: #06071b;
  }
  .nav {
    font-size: 8px;
  }

  .nav-list {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 286px) {
  .login,
  .signup {
    padding: 0px;
    font-size: 12px;
    color: darkorange;
    background-color: #06071b;
  }
  .nav {
    font-size: 5px;
    display: flex;
    flex-direction: column;
  }
  .nav-list {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
