.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06071b;
  gap: 25px;
}

.description span {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.lorem {
  font-size: 22px;
  color: #fff;
  margin-bottom: 25px;
}

.whoarewe {
  color: #ff7000;
}

.lorem-ipsum {
  display: flex;
  background-color: #06071b;
  font-size: 15px;
  color: #ffffffe5;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media only screen and (max-width: 970px) {
  .lorem-ipsum {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 670px) {
  .box {
    color: navy;
  }
  .area {
    padding: 50px 200px;
  }
  .description {
    margin-bottom: 25px;
  }
  .lorem-ipsum {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    border: none;
  }

  .area {
    padding: 50px 150px;
  }
  .lorem-ipsum {
    flex-direction: column;
  }
  .robo-kid {
    margin-left: -70px;
  }
}

@media only screen and (max-width: 400px) {
  .box {
    background-color: #06071b;
  }

  .area {
    padding: 50px 150px;
  }
  .lorem-ipsum {
    flex-direction: column;
  }
  .robo-kid {
    margin-left: -90px;
  }
}

@media only screen and(max-width: 372px) {
  .robo-kid {
    margin-left: -120px;
  }
}

@media only screen and (max-width: 342px) {
  .robo-kid {
    margin-left: -50px;
  }
}

@media only screen and (max-width: 250px) {
  .robo-kid {
    margin-left: -50px;
  }
}
