.partner-title {
  justify-content: center;
  color: #fff;
  font-size: 35px;
  margin-bottom: 35px;
}

.company {
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.partner-title {
  justify-content: center;
  color: #fff;
  font-size: 35px;
  margin-bottom: 35px;
  transition: transform 0.3s ease-in-out;
}

.company {
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.company img {
  opacity: 0;
  transform: translateX(-50px);
  animation: imageAnim 3s ease-in-out infinite;
}

@keyframes imageAnim {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
